.row{
    margin-left: 20px;
    color: #fff;

}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster {
  max-height: 250px;
  margin-right: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.poster:hover {
  transform: scale(1.1);
}

.smallPoster{
  max-height: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.smallPoster:hover {
  transform: scale(1.1);
}

.title{
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-left: 20px;
}

.poster-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* dark translucent background */
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.poster-container:hover .movie-title {
  opacity: 1;
}
